@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Libre Baskerville", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background: linear-gradient(#4AC29A, #BDFFF3);
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    background-color: #4AC29A;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}



.left {
    color: #4AC29A;
    /* height: 64px;
    width: 64px; */
}

.left img {
    height: 64px;
    width: 64px;
    cursor: grab;
}

.right {
    background-color: #4AC29A;
    justify-content: center;
    align-items: center;
}

.right ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #4AC29A;

}



.right ul li {
    list-style: none;
    background-color: #4AC29A;
}

.right ul li a:hover {
    color: white;
    cursor: pointer;
}

.right ul li a {
    text-decoration: none;
    color: black;
}

.container-1 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;

}

.first {
    background-color: #eeedeb5f;
    height: 270px;
    width: 100%;
    max-width: 320px;
    padding: 20px 20px;
    border-radius: 25px;
    transition: transform 0.5s ease, box-shadow 0.5 ease;
}

.first:hover {
    transform: translateY(-6px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.first-pic img {
    max-width: 100%;
    height: 178px;
    object-fit: cover;
    padding: 4px 4px;
    border-radius: 15px;
    background-size: cover;
    /* background-color: rgba(38, 129, 208, 0.607); */
}

.first-description h3 {
    margin-top: 5px;
    font-size: 20px;
    justify-self: center;
    color: black;
}

.first-description button {
    padding: 6px 20px;
    display: block;
    justify-self: center;
    margin-top: 15px;
    border-radius: 5px;
    border: 0px;
    background-color: #B7BDF7;
    transition: box-shadow 0.5s ease;
}

.first-description button:hover {
    background-color: #a4aaf4;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

.course-des h1 {
    text-align: center;
    margin-top: 20px;
}

.success h1 {
    margin-top: 80px;
    text-align: center;
}

.video-container {
    margin-top: 10px;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}

.video {
    width: 500px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.video:hover {
    transform: translateY(-6px);
}

.vid-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.vid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid-des h3 {
    color: black;
    padding: 10px 10px;
    justify-self: center;
    font-weight: normal;
    font-family: "Libre Baskerville";
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 6.25%;
    background-color: rgba(255, 255, 255, 0.558);
    align-items: center;
}

.bottom-left p {
    font-family: "Libre Baskerville";
}

.logos {
    display: flex;
    gap: 10px;

}

.social {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social:hover {
    transform: translateY(-2px);
}